################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CCM/.vs/Starcraft Mod Manager/v16
