################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CCM/.vs/Starcraft Mod Manager/v16
/CCM/packages
/ModManagement.Services.StarCraft/obj/Debug
/ModManager.StarCraft.Base/obj/Debug
/UnitTest/obj/Debug
